 .u-section-1 {
  min-height: 189px;
}

.u-section-1 .u-group-1 {
  min-height: 187px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 10px 109px 10px 107px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 219px;
  }

  .u-section-1 .u-group-1 {
    min-height: 208px;
    margin-top: 10px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 222px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 14px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 191px;
  }

  .u-section-1 .u-group-1 {
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    padding: 12px 168px 13px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 148px;
  }

  .u-section-1 .u-group-1 {
    min-height: 158px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    padding: 15px 33px 16px 32px;
  }
} .u-section-2 {
  min-height: 246px;
}

.u-section-2 .u-group-1 {
  min-height: 217px;
  height: auto;
  margin-top: 28px;
  margin-bottom: 1px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 10px 109px 10px 107px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 212px;
  }

  .u-section-2 .u-group-1 {
    min-height: 212px;
    margin-top: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 271px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 215px;
  }

  .u-section-2 .u-group-1 {
    min-height: 215px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    padding: 12px 168px 13px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 164px;
  }

  .u-section-2 .u-group-1 {
    min-height: 220px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 4px 0 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    padding: 15px 33px 16px 31px;
  }
} .u-section-3 {
  min-height: 139px;
}

.u-section-3 .u-group-1 {
  min-height: 139px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 130px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 160px;
  }

  .u-section-3 .u-group-1 {
    min-height: 160px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-3 .u-text-2 {
    width: 799px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 145px;
  }

  .u-section-3 .u-group-1 {
    min-height: 148px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 203px;
  }

  .u-section-3 .u-group-1 {
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 166px;
  }

  .u-section-3 .u-group-1 {
    min-height: 160px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-4 {
  min-height: 1448px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/StoreImage-Blur.png");
  background-position: 50% 50%;
  min-height: 244px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 220px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 7px auto 0;
  padding: 13px 36px 14px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 217px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 401px;
}

.u-section-4 .u-container-layout-4 {
  padding: 19px 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-2 {
  height: 210px;
  object-position: 50% 2.94%;
  width: 351px;
  margin: 7px auto 0;
}

.u-section-4 .u-layout-cell-5 {
  background-image: none;
  min-height: 328px;
}

.u-section-4 .u-container-layout-5 {
  padding: 19px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 0 30px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: 5px 30px 0;
}

.u-section-4 .u-text-9 {
  margin: 8px 30px 0;
}

.u-section-4 .u-layout-cell-6 {
  background-image: none;
  min-height: 401px;
}

.u-section-4 .u-container-layout-6 {
  padding: 19px 30px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-11 {
  margin: 8px 0 0;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 49px;
  margin-bottom: 51px;
  height: auto;
  min-height: 641px;
}

.u-section-4 .u-btn-2 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 60px;
  padding: 17px 168px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1294px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 262px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    width: 230px;
    margin-top: 4px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 5px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 393px;
  }

  .u-section-4 .u-image-2 {
    height: 201px;
    width: 335px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 280px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 342px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 637px;
  }

  .u-section-4 .u-btn-2 {
    padding-left: 296px;
    padding-right: 296px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 688px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-image-1 {
    min-height: 202px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.625rem;
    width: 223px;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: 176px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1rem;
    margin-top: 6px;
    padding-right: 9px;
    padding-left: 7px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 504px;
  }

  .u-section-4 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    height: 149px;
    width: 249px;
    margin-top: 7px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: 8px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 557px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 3rem;
    text-transform: none;
    padding-right: 203px;
    padding-left: 202px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1632px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 32.18%;
    min-height: 144px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 17px 8px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 487px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-2 {
    width: 462px;
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    padding-right: 101px;
    padding-left: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 2;
    min-height: 343px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 239px;
    width: 405px;
    margin-top: 4px;
  }

  .u-section-4 .u-layout-cell-5 {
    order: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    order: 3;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    font-size: 2.25rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 169px;
    padding-left: 169px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1503px;
  }

  .u-section-4 .u-image-1 {
    min-height: 118px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: 324px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    width: 324px;
    margin-top: 0;
    margin-left: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 136px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 281px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-image-2 {
    height: 211px;
    width: 379px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 1.875rem;
    margin-bottom: 1px;
    padding-left: 72px;
    padding-right: 72px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 343px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 311px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -8px 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 27px auto 0;
  padding: 13px 81px 14px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 287px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -7px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 411px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 110px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.75rem;
    padding-right: 7px;
    padding-left: 6px;
  }
}@font-face {
  font-family: 'Constantia';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Constantia.ttf);
}